<!-- This page is for items related to my portfolio of work Design and Art me fun  -->

<div class="container">
  <h1 id="portfolioHeader">Selected Works</h1>

  <div class="workContainer">
    <a href="https://swhite215.github.io/Grand-Circus-Theater-Application/"><img src="http://placehold.it/450x300" alt="" id="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Reddit-and-GitHub-API/"><img src="http://placehold.it/450x300" alt="" id="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/CSS-Responsive-Website/"><img src="http://placehold.it/450x300" alt="" id="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Angular-To-Do-List-Application/"><img src="http://placehold.it/450x300" alt="" id="worksImage"></a>
  </div>


  <div class="workContainer">
    <a href="https://swhite215.github.io/Cute-Animal-Angular-API/"><img src="http://placehold.it/450x300" alt="" id="worksImage"></a>
  </div>

  <div class="workContainer">
    <a href="https://swhite215.github.io/Three.JS-Aviator-Tutorial-Game/"><img src="http://placehold.it/450x300" alt="" id="worksImage"></a>
  </div>


</div>
